@import "tailwindcss";

@theme {
  --color-brand: #1A1A1A;
  --color-brand-light: #F4F4F4;
  --color-accent: #FF7416;
  --color-accent-hover: #e56510;
  --color-surface: #F4F4F4;
  --color-dark: #1A1A1A;
}
